@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-title {
    @apply bg-persian-green-600 !text-white;
  }
  .title-1 {
    @apply text-[27px] text-shark-950 font-semibold leading-[140%] capitalize;
  }
  .title-2 {
    @apply text-[24px] text-shark-950 font-semibold leading-[140%] capitalize;
  }
  .title-3 {
    @apply text-[21px] text-shark-950 font-semibold leading-[140%] capitalize;
  }
  .title-4 {
    @apply text-[19px] text-shark-950 font-semibold leading-[140%] capitalize;
  }
  .title-5 {
    @apply text-[17px] text-shark-950 font-semibold leading-[150%] capitalize;
  }
  .title-6 {
    @apply text-[15px] text-shark-950 font-semibold leading-[150%] capitalize;
  }
  .paragraph {
    @apply text-[15px] text-shark-600 font-normal leading-[150%];
  }
  .tag-light {
    @apply rounded-[3px] text-xs bg-persian-green-600/20 px-2 py-1 text-shark-800;
  }
  .container {
    @apply max-w-screen-xl mx-auto px-5 md:px-10 py-16 md:pt-20;
  }
}

@layer base{
  body {
    @apply bg-white
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px
}

::-webkit-scrollbar-thumb {
  background-color: #00aaa1;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #c4c4c4;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    list-style-type: circle;
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  pre {
    background: #e7e7e7;
    border-radius: 0.5rem;
    color: #454545;
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}

.tiptap {
  /* Reset margin for the first child */
  :first-child {
    margin-top: 0 !important;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 140% !important;
    text-wrap: pretty !important;
    text-transform: capitalize !important;
    color: #1a1a1a !important; /* Shark-950 equivalent */
    font-weight: 600 !important; /* Semibold */
  }

  h1,
  h2 {
    margin-top: 2.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  h1 {
    font-size: 27px !important; /* Equivalent to .title-1 */
  }

  h2 {
    font-size: 24px !important; /* Equivalent to .title-2 */
  }

  h3 {
    font-size: 21px !important; /* Equivalent to .title-3 */
  }

  h4 {
    font-size: 19px !important; /* Equivalent to .title-4 */
  }

  h5 {
    font-size: 17px !important; /* Equivalent to .title-5 */
    /* line-height: 150% !important; */
  }

  h6 {
    font-size: 15px !important; /* Equivalent to .title-6 */
    /* line-height: 150% !important; */
  }
}
